<!DOCTYPE html>
<html lang="en" ng-app="myApp" id="ng-app">
	<head>
		<title>LDSText.org</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" type="image/x-icon" href="/theme/favicon.ico">

		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="/theme/style.css">
		<link rel="stylesheet" href="/admin/includes/angular-multi-select.css">
		
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
		<script src="/admin/includes/composeController.js"></script>
		<script src="/admin/includes/angular-multi-select.js"></script> 

	</head>

	<body ng-controller="main">
		<nav class="navbar navbar-inverse">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>                        
					</button>
					<a class="navbar-brand" href="#" style="padding:5px 30px;"><img src="/theme/logo.png"></a>
				</div>
				<div class="collapse navbar-collapse" id="myNavbar">
					<ul class="nav navbar-nav">
						<li class="active"><a href="/admin"><span class="glyphicon glyphicon-inbox"></span>Inbox</a></li>
						<li><a href="/admin/compose"><span class="glyphicon glyphicon-envelope"></span>New Text</a></li>
						<li><a href="/admin/contacts"><span class="glyphicon glyphicon-user"></span>Contacts</a></li>
						<li><a href="/admin/settings"><span class="glyphicon glyphicon-cog"></span>Settings</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right dropdown">
						<li><a href="/"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
					</ul>
				</div>
			</div>
		</nav>
		<div class="content">
			<div class="container cta">
				<div class="bs-callout bs-callout-info">
					<h3>James Petmecky <span class="phone-number">(505) 916-6253</span></h3>
					<p><b>Me:</b> Hey James, are you still planning on bringing rolls to the activity this Saturday at 5:00? <span class="elapsed-time">17 minutes ago</span></p>
					<p><b>James:</b> Ya, do you think that 24 is enough? <span class="elapsed-time">8 minutes ago</span></p>
					<p><b>Me:</b> That should be plenty, 4 other people signed up too.  Thanks again! <span class="elapsed-time">7 minutes ago</span></p>
					<p><b>James:</b> No problem!  I'm excited :) <span class="elapsed-time">5 minutes ago</span></p>
					<p>
						<form role="form">
							<div class="form-group">
								<input type="text" class="input col-sm-9"  ng-model="textContent" ng-trim="false" rows="1"  maxlength="160" id="comment" placeholder="Write a reply...">
								<label class="col-sm-1" style="color:gray;font-weight:bold;font-size:18px;">{{160 - textContent.length}}</label>
								<button type="button" class="btn btn-info col-sm-2">
									<span class="glyphicon glyphicon-send"></span>&nbsp;&nbsp;Send
								</button>
							</div>
						</form>
					</p>
					<br>
				</div>
				
				<div class="bs-callout bs-callout-default">
					<h3>Natacia Snow <span class="phone-number">(801) 227-9366</span></h3>
					<p><b>Me:</b> Hey Natacia, do you need any more help with the wreaths?<span class="elapsed-time">4 hours ago</span></p>
					<p><b>Natacia:</b> Nope!  We finished them all on Monday!  =D <span class="elapsed-time">3 hours ago</span></p>
					<p><b>Me:</b> Oh, that's fantastic!  Thanks so much for doing that. <span class="elapsed-time">3 hours ago</span></p>
					<p><b>Natacia:</b> No worries, glad I could help! <span class="elapsed-time">3 hours ago</span></p>
					<p>
						<form role="form">
							<div class="form-group">
								<input type="text" class="input col-sm-9"  ng-model="textContent" ng-trim="false" rows="1"  maxlength="160" id="comment" placeholder="Write a reply...">
								<label class="col-sm-1" style="color:gray;font-weight:bold;font-size:18px;">{{160 - textContent.length}}</label>
								<button type="button" class="btn btn-info col-sm-2">
									<span class="glyphicon glyphicon-send"></span>&nbsp;&nbsp;Send
								</button>
							</div>
						</form>
					</p>
					<br>
				</div>
				
				<div class="bs-callout bs-callout-default">
					<h3>Jared Carter <span class="phone-number">(801) 999-8876</span></h3>
					<p><b>Me:</b> Jared, just a reminder that we have ward council at 9:30 in the Kennedy Center tomorrow morning.<span class="elapsed-time">2 days ago</span></p>
					<p><b>Jared:</b> Perfect!  See you bright and early :) <span class="elapsed-time">2 days ago</span></p>
					<p>
						<form role="form">
							<div class="form-group">
								<input type="text" class="input col-sm-9"  ng-model="textContent" ng-trim="false" rows="1"  maxlength="160" id="comment" placeholder="Write a reply...">
								<label class="col-sm-1" style="color:gray;font-weight:bold;font-size:18px;">{{160 - textContent.length}}</label>
								<button type="button" class="btn btn-info col-sm-2">
									<span class="glyphicon glyphicon-send"></span>&nbsp;&nbsp;Send
								</button>
							</div>
						</form>
					</p>
					<br>
				</div>
			</div>
		</div>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	</body>
</html>
